:root {
    --shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    --rgb-white: rgb(255, 255, 255);
    --rgb-orange: #EE940F;
    --rgb-grey: #F0F0F0;
    --rgb-blue: #2980B1;
    --rgb-darkblue: #2A6181;
}

.popup-cart__cards {
    width: 100%;
    max-height: 210px;
    min-height: 150px;
    overflow-y: auto;
    padding: 5px 0;
}

.cart-cards__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}

.cart-cards__empty-text {
    font-size: 20px;
    color: #333;
    line-height: 1.2;
}

.cart-cards__item {
    width: 100%;
}

.cart-cards__item:not(:last-child) {
    margin-bottom: 15px;
}

.cart-card__body {
    display: flex;
}

.cart-card__image img {
    max-height: 200px;
    max-width: 150px;
}

@media (max-width: 768px) {
    
}

.cart-card__info {
    padding-left: 25px;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: space-between;
}

.cart-card__info-header div:not(:last-child) {
    margin-bottom: 5px;
}

.cart-card__info-header div {
    line-height: 1.2;
}

.info-header__title a {
    font-weight: 700;
    color: #000;
    font-size: 23px;
}

.info-header__price {
    font-size: 22px;
    color: var(--rgb-orange);
    font-weight: 700;
}

.info-header__details {
    font-size: 17px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;
}

.cart-card__info-footer {
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.cart-card__info-footer div:not(:last-child) {
    margin-right: 10px;
}

.info-footer__cart-left {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.info-footer__func-btns {
    display: flex;
    align-items: center;
}

.info-footer__func-btn {
    color: var(--rgb-orange);
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease-in;
}

@media (any-hover: hover) {
    .info-footer__func-btn:hover {
        cursor: pointer;
        color: var(--rgb-blue);
        transition: all .3s ease-in;
    }
}

.popup-cart__footer {
    margin-top: 30px;
}

.cart-footer__total {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
}

.cart-footer__total-title {
    font-size: 22px;
    font-weight: 800;
}

.cart-footer__total-price {
    font-size: 22px;
}

.cart-footer__buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-footer__button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: var(--rgb-blue);
    font-size: 18px;
    font-weight: 700;
    transition: all .3s ease-in-out;
    margin-right: 25px;
}

.cart-footer__button:last-child {
    margin-right: 0px;
}

@media (any-hover: hover) {
    .cart-footer__button:hover {
        transition: all .3s ease-in-out;
        background-color: var(--rgb-orange);
    }
}

@media (max-width: 600px) {
    .popup__content {
        padding: 25px;
    }

    .cart-card__info-footer {
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .cart-card__info {
        padding-left: 15px;
    }

    .cart-card__info-footer div {
        margin-right: 0;
        line-height: 1.5;
    }

    /* .cart-card__info-footer div:not(:last-child) {
        margin-bottom: 5px;
    } */
}

@media (max-width: 479.98px) {
    .cart-card__body {
        flex-wrap: wrap;
    }

    .cart-card__image img {
        max-height: 150px;
    }

    .cart-card__info-footer {
        margin-top: 0;
    }

    .cart-card__info-header {
        margin-top: 10px;
    }

    .info-header__title a {
        font-size: 20px;
    }

    .cart-card__info {
        padding-left: 0px;
    }

    .info-header__details {
        display: none;
    }
}

@media (max-width: 375px) {
    .cart-footer__buttons {
        flex-direction: column;
        align-items: center;
    }

    .cart-footer__button {
        margin-right: 0px;
        margin-top: 10px;
        display: flex;
        width: 80%;
        justify-content: center;
    }

    .cart-footer__button:first-child {
        margin-top: 0px;
    }

    .popup__content {
        padding: 20px 15px;
    }

    .popup__title {
        font-size: 30px;
        margin-bottom: 20px;
    }


}